:root {
  --super: black;
  --first: rgb(55, 55, 55);
  --second: rgb(110, 110, 110);
  --third: rgb(165, 165, 165);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
}

.global-header {
  background-color: var(--first);
  height: 110px;
}

.nav-header {
  background-color: var(--second);
  height: 75px;
}

.first-section {
  display: flex;
  margin: 1em auto;
  height: 991px;
  width: 1665px;
}

.first-section-left {
  box-sizing: border-box;
  width: 970px;
  height: inherit;
  padding: 0 16px;
}

.first-section-left-top {
  height: 423px;
  width: 100%;
}

.first-section-left-top > div:nth-child(1) {
  display: flex;
  height: 205px;
  width: 100%;
}

.first-section-left-top > div:nth-child(1) > div:nth-child(1) {
  height: 205px;
  width: 25%;
  background-color: var(--first);
}

.first-section-left-top > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 205px;
  width: 75%;
}

.first-section-left-top > div:nth-child(1) > div:nth-child(2) > div {
  height: 25%;
  width: 98%;
  background-color: var(--first);
}

.first-section-left-top > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 218px;
  width: 100%;
}

.first-section-left-top > div:nth-child(2) > div {
  height: 15%;
  width: 100%;
  background-color: var(--third);
}

.first-section-left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 547px;
  width: 100%;
}

.first-section-left-bottom > div {
  height: 47%;
  width: 100%;
  background: var(--second);
}

.first-section-right {
  position: relative;
  box-sizing: border-box;
  width: 695px;
  height: inherit;
}

.first-section-right > div {
  position: absolute;
  right: 0;
  height: 650px;
  width: 520px;
  background-color: var(--second);
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4em auto;
  height: 520px;
  width: 1630px;
}

.card-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 455px;
  width: 505px;
}

.card-container > div > div {
  height: 30%;
  width: 100%;
}

.card-container > div > div:nth-child(1) {
  background-color: var(--second);
}

.card-container > div > div:nth-child(2) {
  background-color: var(--third);
}

.card-container > div > div:nth-child(3) {
  background-color: var(--second);
}
